In [72]:
import pandas as pd
import random
import os

In [73]:
SEED = 100
OUTPUT_DIR = '/home/jptalusan/gits/mta_simulator_redo/code_root/scenarios/baseline/data'

In [79]:
random.seed(SEED)

load_dist_path = '/home/jptalusan/gits/mta_simulator_redo/code_root/scenarios/baseline/data/loads_by_scheduled_time.pkl'
df = pd.read_pickle(load_dist_path)

df['sample_load'] = df['load'].apply(lambda x: random.choice(x))
df = df.reset_index()
df.drop('load', axis=1, inplace=True)
display(df.head())
out_fp = os.path.join(OUTPUT_DIR, 'sampled_load.pkl')
df.to_pickle(out_fp)

,route_id_direction,block_abbr,stop_id_original,time,IsWeekend,sample_load
0,14_FROM DOWNTOWN,1400,1SJAMNM,06:18:13,0,2.0
1,14_FROM DOWNTOWN,1400,1SJAMNM,06:18:13,1,3.0
2,14_FROM DOWNTOWN,1400,1SJAMNM,06:18:41,0,7.0
3,14_FROM DOWNTOWN,1400,1SJAMNM,06:21:13,0,10.0
4,14_FROM DOWNTOWN,1400,1SJAMNM,06:21:13,1,4.0

In [80]:
random.seed(SEED)

ons_dist_path = '/home/jptalusan/gits/mta_simulator_redo/code_root/scenarios/baseline/data/ons_by_scheduled_time.pkl'
df = pd.read_pickle(ons_dist_path)

df['sample_ons'] = df['ons'].apply(lambda x: random.choice(x))
df = df.reset_index()
df.drop('ons', axis=1, inplace=True)

display(df.head())
out_fp = os.path.join(OUTPUT_DIR, 'sampled_ons.pkl')
df.to_pickle(out_fp)

,route_id_direction,block_abbr,stop_id_original,time,IsWeekend,sample_ons
0,14_FROM DOWNTOWN,1400,1SJAMNM,06:18:13,0,0.0
1,14_FROM DOWNTOWN,1400,1SJAMNM,06:18:13,1,0.0
2,14_FROM DOWNTOWN,1400,1SJAMNM,06:18:41,0,0.0
3,14_FROM DOWNTOWN,1400,1SJAMNM,06:21:13,0,0.0
4,14_FROM DOWNTOWN,1400,1SJAMNM,06:21:13,1,0.0

In [84]:
random.seed(SEED)

tt_dist_path = '/home/jptalusan/gits/mta_simulator_redo/code_root/scenarios/baseline/data/travel_time_by_scheduled_time.pkl'
df = pd.read_pickle(tt_dist_path)

df['time_to_next_stop'] = df['time_to_next_stop'].apply(lambda x: [item for item in x if item >= 0])
df['has_positive'] = df['time_to_next_stop'].apply(lambda x: len([item for item in x if item >= 0]) > 0)
df = df[df['has_positive'] == True]
df['sample_time_to_next_stop'] = df['time_to_next_stop'].apply(lambda x: random.choice(x))
df = df.reset_index()
df.drop(['time_to_next_stop', 'has_positive'], axis=1, inplace=True)

out_fp = os.path.join(OUTPUT_DIR, 'sampled_travel_times.pkl')
df.to_pickle(out_fp)

In [85]:
import datetime as dt
tdf = df.reset_index().query("route_id_direction == '14_FROM DOWNTOWN' and block_abbr == 1400 and stop_id_original == 'MCC4_20'")
tdf['time'] = pd.to_datetime(tdf['time'], format='%H:%M:%S')
tdf[tdf['time'] == '1900-01-01 14:15:00	']

,index,route_id_direction,block_abbr,stop_sequence,stop_id_original,time,IsWeekend,sample_time_to_next_stop
18,18,14_FROM DOWNTOWN,1400,1,MCC4_20,1900-01-01 14:15:00,0,872.0
19,19,14_FROM DOWNTOWN,1400,1,MCC4_20,1900-01-01 14:15:00,1,855.0

In [86]:
distance_path = '/home/jptalusan/gits/mta_simulator_redo/code_root/scenarios/baseline/data/gtfs_distance_pairs_km.pkl'
df = pd.read_pickle(distance_path)
df

        stop_id next_stop_id  shape_dist_traveled_km
0       MCC4_20      UNI2AEF                  0.5776
1       UNI2AEF      1SWOONM                  0.6813
2       1SWOONM      1SJAMNM                  0.3601
3       1SJAMNM     N1SOLDNM                  0.3169
4      N1SOLDNM     DICGRANN                  0.8610
...         ...          ...                     ...
17869  DICMARSM     DICLUCSN                  0.2335
17870  DICLUCSN     DICLIGSF                  0.2654
17872  DICRICSN     DICEVASF                  0.2464
17873  DICEVASF     DICCLESN                  0.2461
17874  DICCLESN     DICCLESM                  0.1908

[2366 rows x 3 columns]

In [97]:
(1, 2, 'a') == (1, 2, 'a')

True